* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3a9999af;
}
  
.card {
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.image {
    width: 100%;
    height: auto;
}
  
.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.title {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.description {
    font-size: 16px;
    color: #353535;
    margin-bottom: 20px;
}
  
.button {
    background-color: #4400ffa8;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.button:hover {
    background-color: #29009bc0;
}
  
@media (min-width: 768px) {
    .card {
      width: 400px;
    }
}
  