
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Guerrilla&display=swap');


body {
    margin: 0;
    padding: 0;
    text-align: center; 
    background-color: #e9e9e9;
    display: grid; 
    place-items: center;
    height: 100vh;
}

header {
    margin-top: 30px;
    position: relative;
    height: 200px; 
    justify-content: center; 
    align-items: center; 
}


main {
    background-color: white;
    max-width: 890px;
    width: 100%;
    border: 1px solid black;
    margin-top: 60px;
}

/*Logo Styling*/
.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.logo {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;
}

/* Navigation styling */
nav {
    margin: 40px;
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    gap: 250px; 
}

nav ul li a {
    text-decoration: none; 
    color: black; 
    font-size: 15px; 
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: #007BFF; 
}

/*Body and content styling*/
#main {
    text-align: left;
}

.heading {
    font-family: "Protest Guerrilla";
}

.paragraph {
    font-family: "Josefin Sans";
    max-width: 300px;
    width: 100%;
}

#container {
    padding: 25px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    gap: 5px;
}

#heading1 {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

#heading2 {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

h1 {
    font-size: 80px;
    max-height: fit-content;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 30px;
}

#p1 {
    max-width: 680px;
    width: 100%;
    font-size: 20px;
}

.lastsentence {
    font-family: "Josefin Sans";
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    float: right;
    max-height: min-content;
}

.textwrap {
    display: flex;
    flex-direction: column;
}

.graphics {
    display: flex;
}

#featured {
    width: 445px;
    height: auto;
}

.grouped {
    display: flex;
    flex-direction: column;
}

#grouped2 {
    display: flex;
    float: right;
    flex-direction: column;
}

.album {
    width: 223px;
    height: 223px;
    width: 100%;
}

#container3 {
    display: flex;
}

.author {
    padding: 25px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#content h2 {
    text-align: center;
    width: 100%;
    font-family: "Protest Guerrilla";
}

#p5 {
    font-family: "Josefin Sans";
    max-width: 450px;
    width: 100%;
}

#authorimg {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
}

footer {
    background-color: white;
    border-top: 1px solid black;
    padding: 20px;
}

/*Media Querries*/
/* Small Mobile: 360px - 540px */
@media only screen and (max-width: 540px) {
    body {
        text-align: center;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

    nav ul {
        gap: 30px; 
    }

    nav ul li a {
        font-size: 12px; 
    }

    h1 {
        text-align: center;
        font-size: 40px; 
    }

    h2 {
        font-size: 25px;
        text-align: center;
    }

    .paragraph, .lastsentence {
        max-width: 100%; 
        font-size: 14px;
    }

    .container2, .author, .graphics {
        flex-direction: column; 
        align-items: center;
    }

    #container3 {
        flex-direction: column-reverse;
    }

    #theauthor {
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    #featured {
        width: 100%;
        height: auto;
    }

    .album {
        width: 100%;
        height: auto;
    }

    footer {
        font-size: 12px;
    }
}

/* Large Mobile: 540px - 720px */
@media only screen and (min-width: 541px) and (max-width: 720px) {
    .logo {
        width: 80px;
        height: 80px;
    }

    nav ul {
        gap: 50px;
    }

    nav ul li a {
        font-size: 14px;
    }

    h1 {
        text-align: center;
        font-size: 50px;
    }

    h2 {
        text-align: center;
        font-size: 25px;
    }

    .paragraph, .lastsentence {
        max-width: 100%;
        font-size: 16px;
    }

    .container2, .author, .graphics {
        flex-direction: column;
        align-items: center;
    }

    #featured {
        width: 100%;
        height: auto;
    }

    .album {
        width: 100%;
        height: auto;
    }

    footer {
        font-size: 14px;
    }
}

/* Tablet: 720px - 1024px */
@media only screen and (min-width: 720px) and (max-width: 1023px) {
    body {
        text-align: center;
        padding: 20px;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

    nav ul {
        gap: 100px;
    }

    h1 {
        text-align: center;
        font-size: 60px;
    }

    h2 {
        text-align: center;
        font-size: 28px;
    }

    .paragraph, .lastsentence {
        max-width: 100%;
        font-size: 18px;
    }

    .container2, .author {
        flex-direction: column;
        align-items: center;
    }

    .graphics {
        display: flex;
        flex-direction: row;
    }

    .album {
        width: 100%;
        height: auto;
    }

    #none {
        display: none;
    }

    footer {
        font-size: 16px;
    }
}