* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #179e9e83;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quiz-container {
    background-color: #e0e0e0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.question {
    margin-bottom: 30px;
}

h2 {
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
}

.choices {
    display: flex; /* Flexbox to arrange buttons in a row */
    flex-wrap: wrap; /* Wrap answers if they don't fit */
    gap: 10px; /* Space between answer choices */
}

.choices button {
    flex: 1 1 45%; /* Flex-grow and flex-basis to ensure buttons are the same size */
    padding: 10px;
    background-color: #a1420e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.choices button:hover {
    background-color: #a85123;
}

.submit {
    text-align: center;
}

.submit-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #218838;
}

@media (max-width: 480px) {
    .answer-choices button {
      flex: 1 1 100%; /* On small screens, buttons take full width */
    }
}